.avatar-uploader {
    text-align: left;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
.avatar {
    min-width: 5rem;
    height: 5rem;
    display: block;
}
.sideLeft {
    text-align: left;
}
.marginTop {
    margin-top: 0.6rem;
}
.sideCenter {
    text-align: center; 
    margin-top: 0.6rem;
    margin-right: 9rem;
}
.wrap {
    flex-wrap: wrap;
}
.lineWidth {
    width: 90%;
    position: relative;
    left: 3rem;
}